@font-face {
   font-family: '16874';
   font-display: swap;
   src: url('16874/font.ttf');
}
@font-face {
   font-family: '4888';
   font-display: swap;
   src: url('4888/font.ttf');
}
@font-face {
   font-family: '224';
   font-display: swap;
   src: url('224/font.ttf');
}
@font-face {
   font-family: '19849';
   font-display: swap;
   src: url('19849/font.ttf');
}
